<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/">หน้าเรา</a>&nbsp&nbsp&nbsp<a href="/about">เกี่ยวกับเรา</a>&nbsp&nbsp&nbsp<a href="/about/Tell">ติดต่อเรา</a>
    <hr>
